
body {
    padding: 0px;
    border: 0px;
}

main {
    padding: 16px;
    bottom: 1px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
}
img {
    height: 200px;
}
nav {
    border: 1px solid black;
    padding: 16px;
}
a:hover {
    background-color: green;
}
a {
    text-decoration: none;
}
